.consultorBox-container-size {
  width: 100px;
  height: 100px;
}

.consultorBox-container {
  width: 150px;
  height: 150px;
  background-color: black;
  transition: height 0.5s ease, width 0.3s ease;
}

.consultorBox-container:hover {
  width: 200px;
  height: 200px;
}
