.consultorBox-container-size {
  width: 100px;
  height: 100px;
}

.consultorBox-container {
  width: 150px;
  height: 150px;
  border: black solid 2px;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #017670;
  transition: height 0.5s ease, width 0.3s ease;
}

.consultorBox-container:hover {
  width: 200px;
  height: 200px;
}

.bt-p{
  background-color: #FAB82A;
  color: white;
  border-radius: 5px;
  border: none;
  height: 35px;
  width: max-content;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  display: flex;
  align-items: center;
  overflow: hidden;
}


.bt-p p {
  margin: 0;
  font-weight: bolder;

}


.bt-p:hover{
  background-color: gray;
  color: black;
}