.consultorBox-container {
  width: 150px;
  text-overflow: hidden;
  height: 150px;
  border: black solid 2px;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #017670;
  transition: height 0.5s ease, width 0.3s ease;
}

.consultorBox-container:hover {
  width: 200px;
  height: 200px;
}





