<div style="margin-left: 30px">
  <p>Home > Consultores</p>

  <div>
    <h1 style="color: bisque; font-size: 30px">IC</h1>
    <div
      style="
        width: 80%;
        height: max-content;
        padding: 10px 10px 10px 10px;
        border: 2px solid bisque;
        border-radius: 6px;
        display: flex;
        gap: 10px;
      "
    >
      @for (item of consultores; track $index) {
      <app-consultor-box [consultor]="item" />
      }
    </div>
  </div>
  <div>
    <h1 style="color: bisque; font-size: 30px">Conteudos</h1>
    <div
      style="
        width: 80%;
        height: max-content;
        padding: 10px 10px 10px 10px;
        border: 2px solid bisque;
        border-radius: 6px;
        display: flex;
        gap: 10px;
      "
    >
      @for (item of consultores; track $index) {
      <app-consultor-box [consultor]="item" />
      }
    </div>
  </div>

  <div>
    <h1 style="color: bisque; font-size: 30px">Gerencias</h1>
    <div
      style="
        width: 80%;
        height: max-content;
        padding: 10px 10px 10px 10px;
        border: 2px solid bisque;
        border-radius: 6px;
        display: flex;
        gap: 10px;
      "
    >
      @for (item of consultores; track $index) {
      <app-consultor-box [consultor]="item" />
      }
    </div>
  </div>
</div>
