// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  background-color: #0c283b;
}

html p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
th,
tr,
td {
  font-family: 'stacked-sans', sans-serif;
  color: bisque;
}

body {
  margin-left: 0px !important;
  margin-top: 0px !important;
}

:root {
  /* 1. Define the initial (collapsed) width and transition speed */
  --sidebar-width: 70px;
  --sidebar-transition: 0.3s ease;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.bt-p {
  background-color: #fab82a;
  color: black;
  border-radius: 5px;
  border: none;
  height: 35px;
  width: max-content;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.bt-p p {
  margin: 0;
  font-weight: bolder;
  color: #04316D;
}

.bt-p:hover {
  background-color: gray;
  color: black;
}
.bt-p:hover div {
  background-color: gray;
  color: black;
}
